.scrollable {
	overflow-y: auto;
	height: 100%;
	-webkit-overflow-scrolling: touch;
	position: relative;
	-webkit-backface-visibility: hidden;
}

.scrollable .wrap {
	min-height: 100%;
	/*padding-bottom: 1px;*/
	-webkit-transform: translateZ(0);
	position: static;
	background: transparent;
	-webkit-backface-visibility: hidden;
}

.ptr {
	width: 768px; 
	position: absolute; 
	right: 0px; 
	z-index: 99;
	background: rgba(0,0,0,.75);
	line-height: 20px;
	font-weight: bold;
	opacity: 0;
	-webkit-transition: opacity 0.5s linear;
	-webkit-backface-visibility: hidden;
	padding: 20px 0;
	background-size: 40px;
	background-repeat: no-repeat;
	background-position: 236px 50%;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.ptr .chapternumber {
	color: gray;
	font-style: italic;
	margin-left: 296px;
}

.ptr .chaptername {
	color: white;
	margin-left: 296px;
}

.ptr.top { 
	top: 0;
	background-image: url('../img/tap.png');
}

.ptr.bottom {
	bottom: 0;
	background-image: url('../img/tap.png');
}